{% extends "layout.html" %}

{% block content %}
  <h2>About</h2>
  <h3>RageTracker</h3>
  <p>RageTracker is a web app to allow people to track progress
  on their journey to completing the Dark Souls videogame.</p>

  <p>Current planned features are:</p>
  <ul class="features">
    <li>User registration</li>
    <li>Tracking progress on boss kills</li>
    <li>Creating competitions with friends</li>
    <li>Notification service</li>
    <li>Save file uploading to show more stats</li>
  </ul>
{% endblock %}
