{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery(".content").hide();
  //toggle the componenet with class msg_body
  jQuery(".heading").click(function()
  {
    jQuery(this).next(".content").slideToggle(500);
  });
});
</script>
  <div class="jumbo">
    <h2>{{ session['nickname'] }}'s Profile<h2>
    {% if session['killCount'] != 25 %}
    <h3>This user is currently on boss: {{ session['currentEnemy'] }}!<h3>
    {% else %}
    <h3>This user has defeated every boss!</h3>
    {% endif %}
    <div class="layer">
      <p class="heading">Stats</p>
      <div class="content">
        <table style="width:100%">
          <tr>
            <th>Boss</th>
            <th>Date</th>
          </tr>
          {% for stat in stats %}
          <tr>
            <td>{{ get_boss(stat.boss_id) }}</td>
            <td>{{ stat.defeatedDate.strftime('%d-%m-%Y %H:%M') }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
